<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
		<style>
			#search {
				width: 300px;
				height: 25px;
				border: 1px solid black;
				border-radius: 10px
			}
			#submit {
				width: 100px;
				height: 25px;
				border: 1px solid black;
				border-radius: 10px
			}
		</style>
	</head>

	<body>
		<h1>Localengine</h1>

		<form method="POST" action="/">
			<input type="text"   name="search" id="search" placeholder="Search...">
			<input type="submit" name="submit" id="submit" value="Enter">
		</form>
	</body>
</html>
